.slide {
    display: none;
}

.slide {
    vertical-align: middle;
    width: 100%
}

button {
    padding: 15px 32px;
    background-color: #e7e7e7;
    color: black;
    font-size: 16px;

}

div {
    max-width: 800px;
}

body {
    color: white;
    background-color: #B1CBBB;
    font-family: "helvetica";
}

blockquote {
    font-size: 20px;
    text-align: center;
}

.changingImg {
    float: left;
    padding: 50px;
    margin-left: -70px;
    margin-top: -70px
}

form {
    border: solid;
    padding: 20px;
}

img.changingImg {
    max-width: 35%;
    max-height: 35%;
}

p {
    text-indent: 2.0em;
    line-height: 2.0;
    word-wrap: break-word;
    font-size: 13pt;
}

.noStyle {
    background-color: #B1CBBB;
    display: list-item;
    padding: 0px;
    text-align: left;
}

a:link,
a:visited,
li {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
